/* .main {
  display: flex !important;
    top: 20px !important;
    position: relative !important;
    flex-wrap: wrap !important;
    align-content: space-around !important;
    align-items: center !important;
    justify-content: space-evenly !important;
} */

.cart {
  background-color: #1b1a1a;
  color: white;
  width: 200px !important;
  position: relative;
 left: 25px;
 text-align: center;
}


button {
  background-color: #121213;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  position: relative;
  top: -77px;
}
.Food {
  text-align: center;
}

.container {
  display: flex;
    align-items: center;
  
}


